body {
    background-color: antiquewhite;
}

fieldset {
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 50%;
    justify-self: center;
}

input {
    background-color: beige;
}

input[type=password] {
    background-image: url(../../../imgs/skrunkly.jpg);
    background-size: 4em;
    background-repeat: no-repeat;
}

input[type=color] {
    background-color: red;
}

button[type=button], input[type=submit], input[type=reset] {
background-color: aliceblue;
}

p, h2 {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    justify-self: center;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    padding: 0%;
    width: 100%;
    resize: none;
    background-color: white;
    align-content: center;
    justify-content: center;
}

@media print {
    body {
        font-size: 1em;
    }
    input {
        border: none;
        border-bottom: 1px solid black;
    }
}