* {
	font-family: Calibri;
}
h1 {
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	color: steelblue;
}
h2 {
	font-style: italic;
	text-align: right;
	color: steelblue;
}
p {
	word-spacing: 10px;
	text-indent: 30px;
	text-align: justify;
}
#primero::first-letter {
	font-size: large;
	font-weight: bold;
	text-shadow: 2px 2px 8px black;
}
#primero span {
	font-weight: bold;
	color: steelblue;
}
ul {
	list-style-type: square
}
a {
	color: black;
}
a:hover {
	color: steelblue;
}
.np {
	font-style: italic;
	text-decoration: underline;
}